.Login{
    background-color: greenyellow;
    display: inline;
    padding: 15px;
    border-radius: 5px;

}
.error{
    background-color: rgb(255, 47, 47);
    color: white;
    display: inline;
    padding: 15px;
    border-radius: 5px;
}